.fsm .header {
    text-align: center;
    padding: 8px 0;
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    color: rgb(216, 82, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fsm .container {
    text-align: center;
    padding: 20px;
}

.fsm .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 25px;
}

.fsm .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.fsm .step {
    text-align: center;
    margin: 20px 0;
}

.fsm .step img {
    width: 100%; 
    max-width: 200px; 
    height: 350px;
    object-fit: cover;
}

.fsm .footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .fsm .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.fsm .btn-add-to-bag {
    margin-top: 15px;
    background-color: rgb(216, 82, 105);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.fsm .btn-add-to-bag:hover {
    background: linear-gradient(to right, #ec5971, #d76b7d);
    background-color: rgba(231, 98, 120, 0.925);
}
