# pip install -r requirements.txt
# emzo bqhp nljp lsbi
# rfbh nril ypcf kqii

setuptools
wheel
numpy
Flask
flask-cors
cmake
dlib==19.24.6
opencv-python
kaggle
ultralytics
mongoose
pymongo[srv]
Flask-Mail
apscheduler
python-dotenv
pillow