body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 8px 0;
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    color: rgb(216, 82, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.image-container {
    background-color: #d76b7dc3;
    padding: 50px 0;
}

.banner-content h1 {
    font-size: 3em;
}

.button {
    background-color: rgb(216, 82, 105);
    background: linear-gradient(to right, #ec5971, #d76b7d);
    border-radius: 10px;
    border: 3px solid rgba(225, 100, 121, 0.578);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.button:hover {
    border: 8px double;
    border-image: linear-gradient(to right, #f2647b, rgba(228, 117, 135, 0.688)) 1;
    outline: 8px solid rgba(227, 110, 130, 0.815);
    outline-offset: 0px;
}

.vto-div,
.fsm-div,
.bs-div {
    position: relative;
    margin-top: 0;
    margin-bottom: 100px;
}


.hm-jw-div {
    margin-left: 330px;
    margin-top: -200px;
    position: relative;
    margin-bottom: 100px;
}

.hm-sg-div {
    margin-left: 1040px ;
    position: absolute;
    margin-top: -175px;
    margin-bottom: 100px;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.hm-slider-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hm-slider-caption {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.hm-slider-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.acc-image {
    height: auto;
    width: 1380px; 
    border-radius: 10px;
    margin-left: 80px; 
    margin-bottom: 70px;
}

.slick-dots {
    bottom: -150px; 
    padding: 0;
}

.slick-dots li button:before {
    color: #d85269;
    font-size: 16px;
}

.slick-dots li.slick-active button:before {
    color: #f2647b;
}

.dot {
    background-color: #eba9b4bb;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px; 
}

.product-description {
    margin: 40px 0;
    text-align: center;
}

.mk-image-f,
.mk-image-b,
.mk-image-l,
.mk-image-es {
    height: auto;
    width: 500px;
}

.images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 780px) {
    .images-container {
        display: block;
        text-align: center;
    }

    .mk-image-f,
    .mk-image-b,
    .mk-image-l,
    .mk-image-es,
    .s-image {
        margin-left: 5px;
        margin-top: 20px;
    }

    .acc-image {
        width: 100%; 
        margin-left: 0; 
        margin-bottom: 70px;
    }
    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }
    .dot{
        margin-top: -50px;
    }

    .vto-div,
    .fsm-div,
    .bs-div,
    .jw-div,
    .sg-div {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (min-width: 781px) {
    .images-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .mk-image-f {
        margin-left: 880px;
        margin-top: -170px;
    }
    .mk-image-b {
        margin-left: 880px;
        margin-top: -200px;
    }
    .mk-image-l {
        margin-left: 150px;
        margin-top: -200px;
    }
    .mk-image-es {
        margin-left: 150px;
        margin-top: -200px;
    }
    .s-image {
        margin-left: 150px;
        margin-top: -50px;
    }

    .acc-image {
        margin-left: 80px;
        margin-bottom: 70px;
    }

    .vto-div {
        margin-left: -800px;
        margin-top: -150px; 
    }

    .fsm-div {
        margin-left: 830px;
        margin-top: -150px; 
    }

    .bs-div {
        margin-left: -850px;
        margin-top: -130px; 
    }

    .jw-div {
        margin-left: 330px;
        margin-top: -200px; 
    }

    .sg-div {
        margin-left: 1040px;
        margin-top: -70px; 
    }
}
