.header {
    text-align: center;
    padding: 8px 0;
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    color: rgb(216, 82, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.step {
    text-align: center;
    margin: 20px 0;
}

.step img {
    width: 200px;
    height: 334px;
    object-fit: cover;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 100%;
    }
}
