body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 8px 0;
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    color: rgb(216, 82, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.banner-content h1 {
    font-size: 3em;
}

.button {
    background-color: rgb(216, 82, 105);
    background: linear-gradient(to right, #ec5971, #d76b7d);
    border-radius: 10px;
    border: 3px solid rgba(225, 100, 121, 0.578);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.button:hover {
    border: 8px double;
    border-image: linear-gradient(to right, #f2647b, rgba(228, 117, 135, 0.688)) 1;
    outline: 8px solid rgba(227, 110, 130, 0.815);
    outline-offset: 0px;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.slider-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.slider-caption {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.slider-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.slick-dots {
    bottom: -150px; 
    padding: 0;
}

.slick-dots li button:before {
    color: #d85269;
    font-size: 16px;
}

.slick-dots li.slick-active button:before {
    color: #f2647b;
}

.dot {
    background-color: #eba9b4bb;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -50px; 
}

.product-description {
    margin: 40px 0;
    text-align: center;
}

.mk-image {
    height: 600px;
    width: auto;
}

/* Media Queries for responsive design */
@media (max-width: 1024px) {
    .header {
        font-size: 1.8em;
    }

    .banner-content h1 {
        font-size: 2em;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 1.5em;
    }

    .banner-content {
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner-content h1 {
        font-size: 1.8em;
    }

    .button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .slider-container {
        width: 90%; /* Adjust slider container width for smaller screens */
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 1.2em;
    }

    .banner-content h1 {
        font-size: 1.5em;
    }

    .button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .slider-container {
        width: 100%; /* Full-width slider for very small screens */
    }
}
