* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 8px 0;
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    color: rgb(216, 82, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.virtual-tryon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
    width: 100%;
    max-width: 1600px;
    margin-top: 10px;
}

.tryon-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    width: 70%;
}

.photo-area img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.product-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    background-color: #fff;
}

.product-option {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.product-option img {
    width: 80px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

#sg-btn {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#jw-btn {
    background-color: #fff;
    color: black;
    padding: 10px 18px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#sg-btn:hover,
#jw-btn:hover {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid black;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}
