.try-on-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-section {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.model-face {
    width: 100%;
    border-radius: 10px;
}

.shade-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.shade {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.shade:hover {
    transform: scale(1.1);
}

.info-section {
    width: 40%;
    text-align: left;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: rgb(216, 82, 105);
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    color: white;
}

.btn {
    background: linear-gradient(to right, #ec5971, #d76b7d);
    background-color: rgb(216, 82, 105);
    color: #fff;
    width: 300px;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.02);
    background-color: #f4667d;
}

.btn-p {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 300px;
    border: none;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-p:hover {
    transform: scale(1.02);
    background-color: #2c2224;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .try-on-card {
        flex-direction: column;
        align-items: center;
    }

    .image-section,
    .info-section {
        width: 100%;
        text-align: center;
    }

    .info-section {
        padding: 10px 0;
    }

    .shade-options {
        flex-wrap: wrap;
    }
}
 .model-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .model-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    text-align: center; 
    border-radius: 8px; 
  }
  
  .model-grid {
    margin-top: 20px; 
  }
  
  .model-image {
    width: 100%; 
    height: auto; 
    cursor: pointer; 
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s; 
  }
  
  .model-image:hover {
    transform: scale(1.05); 
  }  
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  