.selfie-mode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  height: 90vh;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.camera-feed-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.options-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.option-button {
    width: 20%;
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
